<html>



<head>
	<title>Amazon Product Review Analaysis</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='opening_css.css') }}">
	
	
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Amazon Product Review Analysis</h1>
				<br>
				<p>Find review for the product you want to buy on amazon.</p>
			</div>
		

			<div class="col1">
				<div class="card card1">
					
					<h4><a href="/first">General Search</a></h4>
					<!--<p>Select the symptoms you think you might have</p>-->
				</div>

				<div class="card card2">
					<h4>Product Search</a></h4>
					<!--<p>Treatment and some medicines will be suggested for your disease/condition.</p>-->
				</div>

				
			</div>


		</div>

	</div>


</body>
</html>